body {
    color:#40514e ;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66bfbf;
    margin-top: 50px;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
   
}
h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #eaf6f6;
}
.top {
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}
.underline {
    text-decoration: underline;
}
.middle {
    margin: 100px 0px 100px 0px;
}
.bottom {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
hr {
    border: dotted #e4f6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto ;
}
.skill-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.skill-intro1 {
    width: 30%;
    margin: 0px auto 0px auto;
}
.contact-me-description {
    width: 30%;
    margin: 40px auto;
}

.btn {
   /* background: #11cdd4; */
    background: linear-gradient(to right,#11cdd4,#11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: linear-gradient(to right,#30e3cb,#2bc4ad);
    text-decoration: none;
  }    
  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
  }
@media only screen and (max-width:900px) {
    .top {
        width: auto;
    }
    .top-cloud {
        right: 350px;
    }
    .bottom-cloud {
        left: 350px;
    }
    .img-mountain {
        width: 100%;
    }
    .skill-row {
        text-align: center;
    }
    .skill-1 {
        width: 250px;
        float: none;
       margin: 0px 0px 20px 0px;
        
    }
    .skill-2 {
        width: 250px;
        float: none;
        margin: 0px 0px 20px 0px;
    }
    .contact-me-description {
        width: 40%;
    }
}